.lang-dropdown-container {
  display: inline-block;
  position: relative;
  min-height: 0;
  &:hover {
    .lang-dropdownWrapper {
      display: block;
      border: 1px solid #eeeeee;
    }
  }

  .lang-dropdownWrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    margin-top: -3px;
    background-color: #ffffff;
    width: 4rem;
    z-index: 30;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
  }

  .lang-dropdownMenu {
    p {
      &:hover {
        background-color: #ef2c5a;
        color: #ffffff;
      }
    }
  }
}
