.send-wire {
  background-image: url("../../assets/png/send-wire.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  button {
    max-width: 140px;
  }
}
